<!doctype html>

<html>
    <head>
        <title>To-Do App</title>
    </head>

    <body>
        <h1>Minha To-Do List</h1>

        <form method="POST">
            <input type="text" name="tarefa" placeholder="Digite uma tarefa" />

            <button>Adicionar</button>
        </form>

        <ul>
            {{range $i, $tarefa := .}}

            <li>
                {{if $tarefa.Concluida}} ✔ {{else}} ☐ {{end}} {{$tarefa.Titulo}}

                <a href="/concluir?id={{$i}}"> Alternar </a>
            </li>

            {{end}}
        </ul>
    </body>
</html>
