<!doctype html>

<html>
    <head>
        <title>To-Do App</title>
        <link rel="stylesheet" href="/style.css" />
    </head>

    <body>
        <div class="container">
            <h1>To-Do App</h1>

            <form method="POST">
                <input
                    type="text"
                    name="tarefa"
                    placeholder="O que vamos fazer hoje?"
                />

                <button>Adicionar</button>
            </form>

            <ul>
                {{range $i,$tarefa:=.}}

                <li
                    class="
                        {{if $tarefa.Concluida}}
                        concluida
                        {{end}}
                        "
                >
                    <span>
                        {{if $tarefa.Concluida}} ✔ {{else}} ☐ {{end}}
                        {{$tarefa.Titulo}}
                    </span>

                    <div class="links">
                        <a href="/concluir?id={{$i}}"> Concluir </a>

                        <a href="/excluir?id={{$i}}"> Excluir </a>
                    </div>
                </li>

                {{end}}
            </ul>
        </div>
    </body>
</html>
